{% if user.is_authenticated %}
    <p>Hello, {{ user.username }}!
        <form method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" style="background: none; border: none; padding: 0; font: inherit; cursor: pointer;">
                Log Out
            </button>
        </form>
    </p>

    {% for post in posts %}
    <h2><a href="{% url 'post_details' pk=post.pk %}">{{ post.title }}</a></h2>
    <p>{{ post.description }}</p>
    <small>Posted on: {{ post.created_at }}</small>
    <small>Modified on: {{ post.modified_at }}</small>
    <hr>
    {% endfor %}

{% else %}
    <p>Please <a href="{% url 'login' %}">Log In</a></p>
{% endif %}

